<a href="https://colab.research.google.com/github/rokzeezee/Machine-Learning-/blob/main/churn_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd
from sklearn.model_selection import train_test_split
import keras
from tensorflow.keras.optimizers import SGD
import numpy as np

In [98]:
df= pd.read_csv("/content/Churn.csv")

In [99]:
df.head()

,Customer ID,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,7590-VHVEA,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No

In [104]:
x=pd.get_dummies(df.drop(["Churn" , "Customer ID"] , axis= 1 ))
x

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
0,0,1,29.85,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,1,29.85,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,34,56.95,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,2,53.85,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,45,42.30,0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7039,0,24,84.80,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7040,0,72,103.20,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7041,0,11,29.60,1,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7042,1,4,74.40,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7043,0,66,105.65,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [106]:
y = df["Churn"].apply(lambda x: 1 if x == "Yes" else 0)
y

0       0
1       0
2       0
3       1
4       0
       ..
7039    0
7040    0
7041    0
7042    1
7043    0
Name: Churn, Length: 7044, dtype: int64

In [20]:
x.describe()

       Senior Citizen       tenure  Monthly Charges
count     7044.000000  7044.000000      7044.000000
mean         0.162124    32.366695        64.756736
std          0.368590    24.560582        30.090786
min          0.000000     0.000000        18.250000
25%          0.000000     9.000000        35.500000
50%          0.000000    29.000000        70.350000
75%          0.000000    55.000000        89.850000
max          1.000000    72.000000       118.750000

In [ ]:
df.info()

In [110]:
df["Churn"]=(df['Churn'] == "Yes").astype(int)

In [111]:
x_train,x_test,y_trian,y_test = train_test_split(x,y, test_size = 2)

In [112]:
x_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
4958,0,13,20.40,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3500,0,1,20.90,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
682,0,61,73.80,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
973,0,58,70.10,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5251,0,12,94.55,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [113]:
y_trian.head()

4958    0
3500    1
682     0
973     0
5251    0
Name: Churn, dtype: int64

In [114]:
from tensorflow.keras.models import Sequential,load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score
import keras
from tensorflow.keras.optimizers import SGD

In [115]:
model = Sequential()
model.add(Dense(units=32 , activation = "relu" , input_dim = len (x_train.columns)))
model.add(Dense(units=64, activation = "relu" ))
model.add(Dense(units=1 , activation = "sigmoid" ))

In [117]:
model.compile(loss = "binary_crossentropy"  , metrics = "accuracy" , optimizer= 'rmsprop' )# optimizer ="sqd"

In [119]:
model.fit(x_train,y_trian , epochs= 200 , batch_size= 32)

Epoch 1/200
221/221 [==============================] - 3s 11ms/step - loss: 0.4126 - accuracy: 0.8053
Epoch 2/200
221/221 [==============================] - 2s 8ms/step - loss: 0.4101 - accuracy: 0.8096
Epoch 3/200
221/221 [==============================] - 2s 7ms/step - loss: 0.4058 - accuracy: 0.8073
Epoch 4/200
221/221 [==============================] - 2s 8ms/step - loss: 0.4028 - accuracy: 0.8101
Epoch 5/200
221/221 [==============================] - 2s 8ms/step - loss: 0.3972 - accuracy: 0.8160
Epoch 6/200
221/221 [==============================] - 2s 7ms/step - loss: 0.3959 - accuracy: 0.8171
Epoch 7/200
221/221 [==============================] - 2s 8ms/step - loss: 0.3912 - accuracy: 0.8188
Epoch 8/200
221/221 [==============================] - 2s 11ms/step - loss: 0.3901 - accuracy: 0.8204
Epoch 9/200
221/221 [==============================] - 2s 8ms/step - loss: 0.3780 - accuracy: 0.8239
Epoch 10/200
221/221 [==============================] - 1s 7ms/step - loss: 0.3726 - accuracy: 0.8295
Epoch 11/200
221/221 [==============================] - 2s 8ms/step - loss: 0.3654 - accuracy: 0.8353
Epoch 12/200
221/221 [==============================] - 2s 8ms/step - loss: 0.3543 - accuracy: 0.8424
Epoch 13/200
221/221 [==============================] - 1s 6ms/step - loss: 0.3446 - accuracy: 0.8476
Epoch 14/200
221/221 [==============================] - 2s 9ms/step - loss: 0.3276 - accuracy: 0.8586
Epoch 15/200
221/221 [==============================] - 2s 9ms/step - loss: 0.3204 - accuracy: 0.8640
Epoch 16/200
221/221 [==============================] - 2s 9ms/step - loss: 0.3060 - accuracy: 0.8721
Epoch 17/200
221/221 [==============================] - 2s 7ms/step - loss: 0.2890 - accuracy: 0.8809
Epoch 18/200
221/221 [==============================] - 1s 6ms/step - loss: 0.2857 - accuracy: 0.8814
Epoch 19/200
221/221 [==============================] - 1s 7ms/step - loss: 0.2687 - accuracy: 0.8911
Epoch 20/200
221/221 [==============================] - 1s 7ms/step - loss: 0.2619 - accuracy: 0.8986
Epoch 21/200
221/221 [==============================] - 2s 7ms/step - loss: 0.2438 - accuracy: 0.9067
Epoch 22/200
221/221 [==============================] - 2s 7ms/step - loss: 0.2356 - accuracy: 0.9057
Epoch 23/200
221/221 [==============================] - 2s 10ms/step - loss: 0.2214 - accuracy: 0.9178
Epoch 24/200
221/221 [==============================] - 2s 9ms/step - loss: 0.2149 - accuracy: 0.9226
Epoch 25/200
221/221 [==============================] - 1s 7ms/step - loss: 0.2029 - accuracy: 0.9232
Epoch 26/200
221/221 [==============================] - 2s 7ms/step - loss: 0.2040 - accuracy: 0.9247
Epoch 27/200
221/221 [==============================] - 1s 6ms/step - loss: 0.1852 - accuracy: 0.9362
Epoch 28/200
221/221 [==============================] - 2s 7ms/step - loss: 0.1803 - accuracy: 0.9406
Epoch 29/200
221/221 [==============================] - 2s 7ms/step - loss: 0.1693 - accuracy: 0.9429
Epoch 30/200
221/221 [==============================] - 1s 7ms/step - loss: 0.1677 - accuracy: 0.9438
Epoch 31/200
221/221 [==============================] - 2s 11ms/step - loss: 0.1720 - accuracy: 0.9453
Epoch 32/200
221/221 [==============================] - 2s 9ms/step - loss: 0.1637 - accuracy: 0.9426
Epoch 33/200
221/221 [==============================] - 2s 7ms/step - loss: 0.1450 - accuracy: 0.9523
Epoch 34/200
221/221 [==============================] - 2s 7ms/step - loss: 0.1448 - accuracy: 0.9529
Epoch 35/200
221/221 [==============================] - 2s 8ms/step - loss: 0.1320 - accuracy: 0.9548
Epoch 36/200
221/221 [==============================] - 1s 7ms/step - loss: 0.1359 - accuracy: 0.9547
Epoch 37/200
221/221 [==============================] - 2s 7ms/step - loss: 0.1234 - accuracy: 0.9597
Epoch 38/200
221/221 [==============================] - 2s 10ms/step - loss: 0.1332 - accuracy: 0.9609
Epoch 39/200
221/221 [==============================] - 2s 9ms/step - loss: 0.1318 - accuracy: 0.9560
Epoch 40/200
221/221 [==============================] - 2s 8ms/step - loss: 0.1067 - accuracy: 0.9669
Epoch 41/200
221/221 [==============================] - 2s 7ms/step - loss: 0.1399 - accuracy: 0.9574
Epoch 42/200
221/221 [==============================] - 2s 7ms/step - loss: 0.1158 - accuracy: 0.9632
Epoch 43/200
221/221 [==============================] - 1s 6ms/step - loss: 0.1087 - accuracy: 0.9654
Epoch 44/200
221/221 [==============================] - 2s 7ms/step - loss: 0.1163 - accuracy: 0.9646
Epoch 45/200
221/221 [==============================] - 2s 9ms/step - loss: 0.1139 - accuracy: 0.9628
Epoch 46/200
221/221 [==============================] - 2s 11ms/step - loss: 0.0897 - accuracy: 0.9713
Epoch 47/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0893 - accuracy: 0.9689
Epoch 48/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0923 - accuracy: 0.9679
Epoch 49/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0902 - accuracy: 0.9703
Epoch 50/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0891 - accuracy: 0.9723
Epoch 51/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0860 - accuracy: 0.9720
Epoch 52/200
221/221 [==============================] - 2s 8ms/step - loss: 0.1060 - accuracy: 0.9695
Epoch 53/200
221/221 [==============================] - 2s 9ms/step - loss: 0.0869 - accuracy: 0.9725
Epoch 54/200
221/221 [==============================] - 2s 9ms/step - loss: 0.0871 - accuracy: 0.9709
Epoch 55/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0846 - accuracy: 0.9706
Epoch 56/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0932 - accuracy: 0.9732
Epoch 57/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0854 - accuracy: 0.9727
Epoch 58/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0909 - accuracy: 0.9730
Epoch 59/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0819 - accuracy: 0.9727
Epoch 60/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0845 - accuracy: 0.9769
Epoch 61/200
221/221 [==============================] - 2s 9ms/step - loss: 0.0745 - accuracy: 0.9778
Epoch 62/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0808 - accuracy: 0.9777
Epoch 63/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0689 - accuracy: 0.9774
Epoch 64/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0766 - accuracy: 0.9769
Epoch 65/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0742 - accuracy: 0.9787
Epoch 66/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0784 - accuracy: 0.9766
Epoch 67/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0677 - accuracy: 0.9777
Epoch 68/200
221/221 [==============================] - 2s 9ms/step - loss: 0.0638 - accuracy: 0.9781
Epoch 69/200
221/221 [==============================] - 2s 11ms/step - loss: 0.0671 - accuracy: 0.9773
Epoch 70/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0688 - accuracy: 0.9784
Epoch 71/200
221/221 [==============================] - 1s 7ms/step - loss: 0.0604 - accuracy: 0.9798
Epoch 72/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0723 - accuracy: 0.9805
Epoch 73/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0516 - accuracy: 0.9815
Epoch 74/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0627 - accuracy: 0.9804
Epoch 75/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0661 - accuracy: 0.9777
Epoch 76/200
221/221 [==============================] - 3s 11ms/step - loss: 0.0571 - accuracy: 0.9811
Epoch 77/200
221/221 [==============================] - 1s 7ms/step - loss: 0.0588 - accuracy: 0.9835
Epoch 78/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0711 - accuracy: 0.9774
Epoch 79/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0643 - accuracy: 0.9807
Epoch 80/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0440 - accuracy: 0.9862
Epoch 81/200
221/221 [==============================] - 1s 7ms/step - loss: 0.0715 - accuracy: 0.9798
Epoch 82/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0626 - accuracy: 0.9834
Epoch 83/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0593 - accuracy: 0.9822
Epoch 84/200
221/221 [==============================] - 3s 12ms/step - loss: 0.0544 - accuracy: 0.9815
Epoch 85/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0555 - accuracy: 0.9810
Epoch 86/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0548 - accuracy: 0.9817
Epoch 87/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0425 - accuracy: 0.9849
Epoch 88/200
221/221 [==============================] - 2s 10ms/step - loss: 0.0536 - accuracy: 0.9841
Epoch 89/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0726 - accuracy: 0.9821
Epoch 90/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0454 - accuracy: 0.9840
Epoch 91/200
221/221 [==============================] - 3s 12ms/step - loss: 0.0470 - accuracy: 0.9855
Epoch 92/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0513 - accuracy: 0.9825
Epoch 93/200
221/221 [==============================] - 1s 7ms/step - loss: 0.0540 - accuracy: 0.9854
Epoch 94/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0570 - accuracy: 0.9845
Epoch 95/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0593 - accuracy: 0.9832
Epoch 96/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0445 - accuracy: 0.9868
Epoch 97/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0484 - accuracy: 0.9858
Epoch 98/200
221/221 [==============================] - 3s 11ms/step - loss: 0.0503 - accuracy: 0.9852
Epoch 99/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0555 - accuracy: 0.9840
Epoch 100/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0377 - accuracy: 0.9888
Epoch 101/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0442 - accuracy: 0.9864
Epoch 102/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0471 - accuracy: 0.9867
Epoch 103/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0530 - accuracy: 0.9867
Epoch 104/200
221/221 [==============================] - 1s 7ms/step - loss: 0.0394 - accuracy: 0.9859
Epoch 105/200
221/221 [==============================] - 2s 9ms/step - loss: 0.0489 - accuracy: 0.9854
Epoch 106/200
221/221 [==============================] - 3s 13ms/step - loss: 0.0359 - accuracy: 0.9875
Epoch 107/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0438 - accuracy: 0.9869
Epoch 108/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0431 - accuracy: 0.9867
Epoch 109/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0347 - accuracy: 0.9889
Epoch 110/200
221/221 [==============================] - 1s 7ms/step - loss: 0.0357 - accuracy: 0.9878
Epoch 111/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0404 - accuracy: 0.9875
Epoch 112/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0499 - accuracy: 0.9851
Epoch 113/200
221/221 [==============================] - 2s 9ms/step - loss: 0.0422 - accuracy: 0.9884
Epoch 114/200
221/221 [==============================] - 2s 11ms/step - loss: 0.0476 - accuracy: 0.9867
Epoch 115/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0380 - accuracy: 0.9898
Epoch 116/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0526 - accuracy: 0.9855
Epoch 117/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0320 - accuracy: 0.9902
Epoch 118/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0382 - accuracy: 0.9882
Epoch 119/200
221/221 [==============================] - 1s 7ms/step - loss: 0.0383 - accuracy: 0.9867
Epoch 120/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0475 - accuracy: 0.9868
Epoch 121/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0402 - accuracy: 0.9876
Epoch 122/200
221/221 [==============================] - 2s 10ms/step - loss: 0.0407 - accuracy: 0.9884
Epoch 123/200
221/221 [==============================] - 1s 7ms/step - loss: 0.0363 - accuracy: 0.9875
Epoch 124/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0335 - accuracy: 0.9903
Epoch 125/200
221/221 [==============================] - 2s 9ms/step - loss: 0.0437 - accuracy: 0.9868
Epoch 126/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0439 - accuracy: 0.9869
Epoch 127/200
221/221 [==============================] - 1s 7ms/step - loss: 0.0303 - accuracy: 0.9908
Epoch 128/200
221/221 [==============================] - 1s 7ms/step - loss: 0.0305 - accuracy: 0.9895
Epoch 129/200
221/221 [==============================] - 3s 11ms/step - loss: 0.0401 - accuracy: 0.9888
Epoch 130/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0249 - accuracy: 0.9920
Epoch 131/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0475 - accuracy: 0.9882
Epoch 132/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0392 - accuracy: 0.9885
Epoch 133/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0412 - accuracy: 0.9881
Epoch 134/200
221/221 [==============================] - 1s 7ms/step - loss: 0.0392 - accuracy: 0.9906
Epoch 135/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0496 - accuracy: 0.9881
Epoch 136/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0350 - accuracy: 0.9893
Epoch 137/200
221/221 [==============================] - 2s 11ms/step - loss: 0.0351 - accuracy: 0.9891
Epoch 138/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0350 - accuracy: 0.9906
Epoch 139/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0306 - accuracy: 0.9899
Epoch 140/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0349 - accuracy: 0.9878
Epoch 141/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0245 - accuracy: 0.9926
Epoch 142/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0453 - accuracy: 0.9878
Epoch 143/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0279 - accuracy: 0.9926
Epoch 144/200
221/221 [==============================] - 3s 11ms/step - loss: 0.0338 - accuracy: 0.9905
Epoch 145/200
221/221 [==============================] - 2s 10ms/step - loss: 0.0324 - accuracy: 0.9902
Epoch 146/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0381 - accuracy: 0.9905
Epoch 147/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0332 - accuracy: 0.9909
Epoch 148/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0304 - accuracy: 0.9909
Epoch 149/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0306 - accuracy: 0.9902
Epoch 150/200
221/221 [==============================] - 1s 7ms/step - loss: 0.0309 - accuracy: 0.9903
Epoch 151/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0235 - accuracy: 0.9913
Epoch 152/200
221/221 [==============================] - 2s 11ms/step - loss: 0.0405 - accuracy: 0.9879
Epoch 153/200
221/221 [==============================] - 2s 9ms/step - loss: 0.0365 - accuracy: 0.9893
Epoch 154/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0464 - accuracy: 0.9905
Epoch 155/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0319 - accuracy: 0.9895
Epoch 156/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0377 - accuracy: 0.9892
Epoch 157/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0277 - accuracy: 0.9911
Epoch 158/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0371 - accuracy: 0.9909
Epoch 159/200
221/221 [==============================] - 2s 10ms/step - loss: 0.0404 - accuracy: 0.9911
Epoch 160/200
221/221 [==============================] - 2s 9ms/step - loss: 0.0353 - accuracy: 0.9912
Epoch 161/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0351 - accuracy: 0.9905
Epoch 162/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0370 - accuracy: 0.9901
Epoch 163/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0265 - accuracy: 0.9918
Epoch 164/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0316 - accuracy: 0.9899
Epoch 165/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0322 - accuracy: 0.9903
Epoch 166/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0325 - accuracy: 0.9919
Epoch 167/200
221/221 [==============================] - 3s 12ms/step - loss: 0.0342 - accuracy: 0.9902
Epoch 168/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0327 - accuracy: 0.9918
Epoch 169/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0345 - accuracy: 0.9905
Epoch 170/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0269 - accuracy: 0.9920
Epoch 171/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0298 - accuracy: 0.9908
Epoch 172/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0286 - accuracy: 0.9912
Epoch 173/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0180 - accuracy: 0.9939
Epoch 174/200
221/221 [==============================] - 1s 7ms/step - loss: 0.0376 - accuracy: 0.9901
Epoch 175/200
221/221 [==============================] - 3s 12ms/step - loss: 0.0348 - accuracy: 0.9891
Epoch 176/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0310 - accuracy: 0.9899
Epoch 177/200
221/221 [==============================] - 1s 7ms/step - loss: 0.0235 - accuracy: 0.9920
Epoch 178/200
221/221 [==============================] - 1s 7ms/step - loss: 0.0291 - accuracy: 0.9919
Epoch 179/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0314 - accuracy: 0.9918
Epoch 180/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0348 - accuracy: 0.9905
Epoch 181/200
221/221 [==============================] - 2s 9ms/step - loss: 0.0384 - accuracy: 0.9908
Epoch 182/200
221/221 [==============================] - 2s 10ms/step - loss: 0.0251 - accuracy: 0.9916
Epoch 183/200
221/221 [==============================] - 2s 10ms/step - loss: 0.0300 - accuracy: 0.9899
Epoch 184/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0238 - accuracy: 0.9923
Epoch 185/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0337 - accuracy: 0.9902
Epoch 186/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0207 - accuracy: 0.9939
Epoch 187/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0243 - accuracy: 0.9923
Epoch 188/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0333 - accuracy: 0.9920
Epoch 189/200
221/221 [==============================] - 2s 8ms/step - loss: 0.0326 - accuracy: 0.9909
Epoch 190/200
221/221 [==============================] - 3s 12ms/step - loss: 0.0363 - accuracy: 0.9913
Epoch 191/200
221/221 [==============================] - 1s 6ms/step - loss: 0.0410 - accuracy: 0.9891
Epoch 192/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0267 - accuracy: 0.9926
Epoch 193/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0351 - accuracy: 0.9913
Epoch 194/200
221/221 [==============================] - 2s 7ms/step - loss: 0.0190 - accuracy: 0.9938
Epoch 195/200

In [120]:
y_hat = model.predict(x_test)
y_hat=[0 if val < 0.5 else 1 for val in y_hat]

1/1 [==============================] - 0s 169ms/step

In [121]:
y_hat

[1, 1]

In [123]:
accuracy_score(y_test,y_hat)

0.5

In [124]:
model.save("tfmodel")

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

In [125]:
model=load_model("/content/tfmodel")